.trending-module {
  border: 1px solid black;
  width: 316px;
  color: black;
  background-color: rgb(247, 249, 250);
  padding: 12px 16px 12px 16px;
  position: relative;
}

.locale {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(91, 112, 131);
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(15, 20, 25);
}

.description {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(91, 112, 131)
}

.tweet-count{
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(91, 112, 131)
}

/* .dots {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
} */